<!DOCTYPE html>
<html>

<head>
  <title>Elite Dangerous: Journal Reader</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="edj.main.css?v=<%= version %>" />
</head>

<body>
  <div class="htmlHeader">
    <h1>Elite Dangerous: Web Journal Reader</h1>
    <h2>Welcome Commander</h2>
  </div>
  <div class="platformHelp">
    <p>Select your journal directory:</p>
    <p>Windows:
      <span>
        <pre class="code" id="winpath">%userprofile%\Saved Games\Frontier Developments\Elite Dangerous\</pre>
        <a href="#" class="winpathButton">Copy</a>
      </span>
    </p>
    <label class="directorySelection">
      <input type="file" id="logDirectory" multiple /> Select your Journal directory
    </label>
    <br />
    <br />
    .. or you can login to your <a class="frontierButton" href="/frontierAuth">Frontier Account</a>
    <!--<br />
    <br /> .. or you can enter an URL where you have uploaded the journal file.
    <br />
    <input type="url" id="logUrl" placeholder="https://&lt;journal location&gt;" />-->
  </div>

  <div class="player-info">
    <span id="cmdrname">CMDR &lt;Load the journal&gt;</span>
    <span id="location">&lt;Load the journal&gt;</span>
    <div id="fuelLevel">
      <div id="fuelBar"></div>
    </div>
    <div id="canSynthOxygen">

    </div>
  </div>
  <br />
  <br />
  The Fuel Rats is powered by user data from <a href="https://www.edsm.net/" target="_blank">EDSM</a>, go <a href="https://www.edsm.net/" target="_blank">here</a> if you want to contribute. 
  <script type="text/javascript" src="edj.main.js?v=<%= version %>"></script>
  <script type="text/javascript" src="edj.gui.js?v=<%= version %>"></script>
  <script type="text/javascript" src="edj.utils.js?v=<%= version %>"></script>
  <script type="text/javascript" src="edj.logparser.js?v=<%= version %>"></script>
  <script type="text/javascript" src="edj.filereader.js?v=<%= version %>"></script>
</body>

</html>